.miniView{
  background-color:red;
  width:20vh;
  margin-left:5vh;
  position:relative;
  top:20vh;
  padding: 0;
  border: 42px black;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);}

.profile_img{
background-color:grey;
}


.profile_info{
  background-color:white;
  padding: 1rem;
  border: 2px black;
}