body {
  margin: 0;
  font-family: 'Scada', sans-serif;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in; }
  body a {
    color: black; }
  body a:hover {
    color: black; }

section {
  height: 100%;
  width: 100%;
  padding: 4rem 14rem;
  overflow: auto; }

aside {
  width: 7.5vh;
  min-height: 95vh;
  background-color: #4CAF50;
  color: #555454;
  position: fixed;
  top: 6vh;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  vertical-align: center;
  z-index: 1; }
  aside .fas {
    margin: 1rem 0; }

aside a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 2rem; }
  aside a:hover {
    color: #555454;
    background-color: rgba(18, 17, 17, 0.76); }

.active {
  border-left: solid #4CAF50 !important; }
  .active:hover {
    background-color: transparent; }

.settings {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  background-color: transparent; }
  .settings:hover {
    background-color: transparent; }

main {
  color: #555454;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.178); }

.time h1 {
  font-size: 5rem; }

.time h2 {
  font-size: 2rem; }

.dash_icon {
  width: 6rem;
  height: 6rem;
  background: #4CAF50;
  color: #555454;
  font-size: 3rem;
  padding: 2rem;
  border-radius: 100%;
  align: center; }

.i1 {
  content: "\f015"; }

.container {
  margin-top: 5rem;
  width: 95vh; }

.box {
  position: relative; }

.media {
  margin-bottom: 2rem; }

.album {
  width: 20rem;
  height: 20rem;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden; }

.box:hover .album {
  opacity: 0.3; }

.box:hover .active {
  opacity: 1; }

.result_box {
  background-color: #4CAF50;
  width: 100%;
  height: 20vh;
  position: relative;
  padding: 2vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #555454;
  box-shadow: inset 0 0 2px 0 rgba(20, 20, 20, 0.63);
  z-index: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 5s ease-in-out; }
  .result_box ul {
    list-style-type: none; }

.result_box::-webkit-scrollbar {
  width: 2px; }

.result_box::-webkit-scrollbar-thumb {
  box-shadow: #555454;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0); }

.miniView {
  background-color: red;
  width: 20vh;
  margin-left: 5vh;
  position: relative;
  top: 20vh;
  padding: 0;
  border: 42px black;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0); }

.profile_img {
  background-color: grey; }

.profile_info {
  background-color: white;
  padding: 1rem;
  border: 2px black; }
