$primary:rgb(85, 84, 84);
$secondary:#4CAF50;
$thirdColor:rgba(18, 17, 17, 0.76);

body{
  margin:0;
  font-family: 'Scada', sans-serif;  
    -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  a{
    color:black;
  }
  a:hover{
    color:black;
  }
}


section {
  height:100%;
  width:100%;
  padding:4rem 14rem;
  overflow:auto;
}



@import './partials/Nav';
@import './partials/Menu';
@import './partials/Main';
@import './partials/Dashboard';
@import './partials/ForumList';
@import './partials/Search';
@import './partials/Profile';